/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
}

#left {
  background-color: #666;
}

#middle {
  background-color: #888;
}

#right {
  background-color: #666;
}

#full {
}

#division {
  background-color: #6ea3da;
}

aside {
  background-color: #fff;
}

footer {
  background-color: #ccc;
}
